{% load static %}
<!DOCTYPE html>
    <head>
        <title>
          Olá!
        </title>
        <link rel="icon" href="{% static 'blade_runner.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <div class = "centralizado">
            <h2 class = "fonte-personalizada">
                <ul><li>
                        OLÁ, {{ mensagem }}
                </ul></li>
            </h2>
        </div>
        <style>
            body {
                background-image: url('{% static "img/blade_runner_wallpaper.jpg" %}');
                background-repeat: no-repeat; 
                background-size: cover; 
                }
        </style>
    </head>
    <body>
        <div class="quadrado-esquerdo">
            <span class="conteudo">Olá tudo bem, bem-vindo ao meu portfolio, aqui mostro alguns projetos que pratiquei ao longo da minha jornada, dê uma olhada ^^</span>
        </div>
        <a href="Comentario/" class="comentario-link">Mande seu comentario</a>
        <div class="container">
            <img class ="imagem-personalizada" src = "{% static 'img/foto.jpeg' %}" alt="Imagem" style="margin-top: -280px;">   
        </div>
        <center>
            <ul>
                <li>
                    <a href ="https://www.linkedin.com/in/augusto-pontes-123886234/" target= "_blank">
                        <img src = "https://cdn-icons-png.flaticon.com/512/174/174857.png" height="100" width="100">
                    </a>
                </l1>
            </ul>
            <ul>
                <li>
                    <a href ="https://github.com/RankracerBR" target="_blank">
                        <img src = "{% static 'img/GitHub.webp'%}" height="100" width="100">
                    </a>
                </li>     
            </ul>
            <ul>
                <li>
                    <a href ="https://www.instagram.com/rankracerbr/" target = "_blank">
                        <img src = "{% static 'img/Instagram.webp' %}" height="100" width="100">
                    </a>
                </li> 
            </ul>  
        </center>
        <div class="image-container">
            <img id="image-display" src="" alt="Image">
        </div>
        <div class="buttons">
            <button id="arrow-left">←</button>
            <button id="arrow-right">→</button>
        </div>
        <script>
            const images = [
                "{% static 'img/im1.png' %}",
                "{% static 'img/im2.png' %}",
                "{% static 'img/im3.png' %}",
                "{% static 'img/im4.png' %}",
                "{% static 'img/im5.png' %}",
            ];
        </script>
        <script src="{% static 'js/projects_git.js'%}"></script>
    </body>