{% load static %}
<!DOCTYPE html>
    <head>
        <title>
          Olá!
        </title>
        <link rel="icon" href="{% static 'blade_runner.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <div class = "centralizado">
            <h2 class = "fonte-personalizada">
                OLÁ, {{ mensagem }}
            </h2>
        </div>
        <style>
            body {
                background-image: url('{% static "img/blade_runner_wallpaper.jpg" %}');
            }
        </style>
    </head>
    <body>
        <a href="Comentario/" class="comentario-link">Mande seu comentario</a>
        <div class="container">
            <img class ="imagem-personalizada" src = "{% static 'img/foto.jpeg' %}" alt="Imagem" style="margin-top: -280px;">   
        </div>
        <center>
            <ul>
                <li>
                    <a href ="https://www.linkedin.com/in/augusto-pontes-123886234/" target= "_blank">
                        <img src = "https://cdn-icons-png.flaticon.com/512/174/174857.png" height="100" width="100">
                    </a>
                </l1>
            </ul>
            <ul>
                <li>
                    <a href ="https://github.com/RankracerBR" target="_blank">
                        <img src = "{% static 'img/GitHub.webp'%}" height="100" width="100">
                    </a>
                </li>     
            </ul>
            <ul>
                <li>
                    <a href ="https://www.instagram.com/rankracerbr/" target = "_blank">
                        <img src = "{% static 'img/Instagram.webp' %}" height="100" width="100">
                    </a>
                </li> 
            </ul>  
        </center>    
    </body>