{% load static %}
<!DOCTYPE html>
    <head>
        <title>
          Olá!
        </title>
        <link rel="icon" href="{% static 'blade_runner.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <div class = "centralizado">
            <h2 class = "fonte-personalizada">OLÁ, {{ mensagem }}</h2>
        </div>
    </head>
    <body>
        <style>
            body {
                background-image: url('{% static "img/blade_runner_wallpaper.jpg" %}');
                transition: transform 0.3s ease;
            }
        </style>
        <div class="container">
            <img class ="imagem-personalizada" src = "{% static 'img/foto.jpeg' %}" alt="Imagem" style="margin-top: 10px;">
        </div>
        <selector>
            <center>
            <ul><li><a href ="https://www.linkedin.com/in/augusto-pontes-123886234/" target= "_blank"><img src = "https://cdn-icons-png.flaticon.com/512/174/174857.png" height="100" width="100"></a></l1></ul>
            <img src = "">
            <img src = "">
            </center>    
        </selector>
        <div class="wave"></div>
    </body>